<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/compound">Compound</a></li>
                    <li class="breadcrumb-item active" ><span data-th-text="${addStatus==true?'New Compound':'Update Compound Details'}"></span></li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    <span data-th-text="${addStatus==true?'New Compound':'Update Compound Details'}"></span>
                </strong>
            </h4>
        </div>
    </div>
</div>
<!--Form Content - start -->
<div class="container-fluid bg-light formBorder">
    <div class="col-sm-12 flex-column">
        <form data-th-action="${addStatus==false?'/compound/add' :'/compound/update'}" method="post"
              data-th-object="${compound}">
            <div class="row ">
                <div class="col-xl-4 col-md-6 col-sm-12">
                    <input type="text" hidden data-th-if="${addStatus==false}" data-th-field="*{id}">
                    <input type="text" hidden data-th-if="${addStatus==false}" data-th-field="*{liveDead}">
                    <div class="form-group">
                        <label data-th-for="${name}"><strong>Compound Name</strong></label>
                        <input type="text" data-th-field="*{name}" class="form-control"
                               placeholder="Enter Compound Name" aria-describedby="nameId">
                    </div>
                    <div class="form-group">
                        <label data-th-for="${code}"><strong>Compound Code</strong></label>
                        <input type="text" data-th-field="*{code}" class="form-control"
                               placeholder="Enter Compound Code" aria-describedby="codeId">
                    </div>
                    <div class="form-group">
                        <label data-th-for="${price}"><strong>Price</strong></label>
                        <input type="number" data-th-field="*{price}" class="form-control"
                               placeholder="Enter Price of a Sample" aria-describedby="price">
                    </div>
                </div>
            </div>


            <table class="table table-striped table-inverse">
                <thead class="thead-inverse">
                <tr>
                    <th>Index</th>
                    <th>Lab Test</th>
                    <th>Specification Name</th>
                    <th>Min</th>
                    <th>Max</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="specification, index : ${specificationNames}">
                    <td data-th-text="${index.count}"></td>
                    <td>
                        <select class="form-control" data-th-field="*{specifications[__${index.index}__].labTestName}"
                                required data-th-id="${'labTest'+index.index}" onload="loadLabTest(this)">
                            <option value="" selected>Please Select</option>
                            <option data-th-each="labTest : ${labTests}"
                                    data-th-text="${labTest.labTestName}"
                                    data-th-value="${labTest}" ></option>
                        </select>
                    </td>
                    <td>
                        <span data-th-text="${specification.specificationName}"></span>
                        <input class="form-control" type="text"
                               data-th-name="${'specifications[__${index.index}__].specificationName'}"
                               data-th-value="${specification}" hidden>
                    </td>
                    <td>
                        <input class="form-control" type="hidden"
                               data-th-field="*{specifications[__${index.index}__].id}">
                        <input class="form-control" type="text" data-th-id="${'min'+index.index}"
                               data-th-field="*{specifications[__${index.index}__].min}"
                               onkeyup="minMaxValidation(this)">
                        <input class="form-control" type="hidden"
                               data-th-field="*{specifications[__${index.index}__].id}">
                    </td>
                    <td>
                        <input class="form-control" type="text" data-th-id="${'max'+index.index}"
                               onkeyup="minMaxValidation(this)" data-th-field="*{specifications[__${index.index}__].max}">
                    </td>
                </tbody>
            </table>
            <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
                <button class="btn btn-success" type="submit" tabindex="21">
                    <i class="fa fa-save fa-sm" style="font-size: 20px"></i>&nbsp; &nbsp;
                    <span id="submit" data-th-text="${addStatus==true?'Save': 'Update'}"></span>
                </button>
                <button class="btn btn-danger" type="reset" tabindex="21">
                    <i class="fa fa-redo fa-sm" style="font-size: 20px"></i>&nbsp; &nbsp;
                    <span id="reset" th:text="Reset"></span>
                </button>
                <a class="btn btn-secondary" type="button" href="/compound">
                    <i class="fas fa-times"></i> &nbsp;<span id="cancel" >Cancel</span >
                </a >
            </div>
            <div class="form-row">
                <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '">Errors: </label>
                <ul>
                    <li id="error" data-th-each="err: ${#fields.errors('*')}" data-th-text="${err}" class="error"></li>
                </ul>
            </div>
        </form>
    </div>

</div>

<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>

<script>

    /*test result validation : check whether the entered value is within the given range*/
    function minMaxValidation(obj) {
        let selectedFiledId = obj.getAttribute('id').slice(3);
        let min = parseInt($(`#min${selectedFiledId}`).val());
        let minId = $(`#min${selectedFiledId}`);
        let max = parseInt($(`#max${selectedFiledId}`).val());
        let maxId = $(`#max${selectedFiledId}`);

        if (max >= min) {
            minId.attr("class", "bg-success form-control");
            maxId.attr("class", "bg-success form-control")
        } else {
            minId.attr("class", "bg-danger form-control");
            maxId.attr("class", "bg-danger form-control");
        }
        if (min === 0 || min === '') {
            minId.attr("class", "bg-warning form-control");
            maxId.attr("class", "bg-warning form-control");
        }
    }

    /*load lab test according to the specification name*/
    function loadLabTest(obj){
        let selectedFiledId = obj.getAttribute('id').slice(7);
        console.log(selectedFiledId)
        if(selectedFiledId < 8){
        //    Lab test = PHYSICAL PROPERTIES TEST
        }
        if(selectedFiledId >=8 && selectedFiledId < 13 ){
            //    Lab test = RHEOMETER TEST
        }
        if(selectedFiledId == 13){
            //    Lab test = VISCOSITY TEST
        }
    }


</script>

</body>
</html>
