<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid  form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a href="/home" id="btnHome" class="btn btn-outline-info">
                &nbsp;Back To Home&nbsp;&nbsp;
            </a>

        </div>
        <div class="col">
            <a class="btn btn-info" href="/compound/add"><i class="fa fa-plus"></i>
                &nbsp; Add New
            </a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Compound Management
                </strong>
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid formBorder text-center">
    <div class="col">
        <div class="col" id="compoundListPresent" data-th-if="${not #lists.isEmpty(compounds)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Compound Code</th>
                    <th> Compound Name</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="compound, rowCount : ${compounds}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${compound.code}"></th>
                    <th data-th-text="${compound.name}"></th>
                    <!--<th data-th-text="${compound.status.status}"></th>-->
                    <th>
                        <a data-th-href="${'/compound/' + compound.id}" class="btn btn-outline-secondary btn-sm">View</a>
                        <a  data-th-href="${'/compound/edit/' + compound.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a  data-th-href="${'/compound/remove/' + compound.id}"
                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" data-th-if="${ #lists.isEmpty(compounds)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no compound upto now. please add compound to the system
                        using add compound button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
