<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<div class="wrapper"><!-- wrapper start -->
    <!--<nav data-th-replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav>&lt;!&ndash; navbar Section &ndash;&gt;
    <aside data-th-replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside>--><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <!--<section data-th-replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        &lt;!&ndash; Form Header  Path &ndash;&gt;
        <section data-th-replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>--><!-- Small Box Set -->




        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <!--if not empty list-->
                                        <div class="container-fluid" id="labTestParameterListTable" data-th-if="${not #lists.isEmpty(labTestParameters)}">
                                            <table class="table table-hover table-striped" id="myTable">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>S No</th>
                                                    <th>Parameter Name</th>
                                                    <th>Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-th-each="labTestParameter, rowCount : ${labTestParameters}" scope="row">
                                                    <th data-th-text="${rowCount.count}"></th>
                                                    <th data-th-text="${labTestParameter.specificationName.specificationName}"></th>

                                                    <th>
                                                        <a class="btn btn-primary btn-sm" id="labTestParameterEdit"
                                                           data-th-href="${'/labTestParameter/edit/' + labTestParameter.id}"><i
                                                                class="fa fa-edit"></i>&nbsp;Edit</a>
                                                        <a class="btn btn-danger btn-sm" id="labTestParameterRemove"
                                                           data-th-href="${'/labTestParameter/delete/' + labTestParameter.id}"
                                                           data-th-if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
                                                           data-th-onclick="if(!(confirm('Are you want to delete this civilStatus ?'))) return false"
                                                        ><i
                                                                aria-hidden="true" class="fa fa-trash"></i>
                                                            Delete</a>

                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--if empty list-->
                                        <div class="row" id="labTestParameterNotList" data-th-if="${ #lists.isEmpty(labTestParameters)}">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 class="text-center text-danger">
                                                    <strong>There is no labTestParameter upto know please add labTestParameter to the system
                                                        using add labTestParameter button.
                                                    </strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <!--Show saved labTestParameter-->
                                        <div class="row" data-th-if="${labTestParameterDetail!=null}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="container">
                                                        <div data-th-replace="~{labTestParameter/labTestParameter-detail :: labTestParameterDetail}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div></div>
    </div><!-- content-wrapper end -->
    <footer data-th-replace="~{fragments/footer :: footerFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script><!-- script Fragment -->
</body>
</html>
