<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head th:replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >addCustomer</title >
</head >
<body >
<nav th:replace="~{fragments/navBar :: navBarFragment}" ></nav >
<!--Heading Area-->
<div class="container-fluid  form-Border" >

  <!--Breadcrumb-->
  <div class="row">
    <div class="col-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/home">Home</a></li>
          <li class="breadcrumb-item active"><a href="/sampleReceiving">Sample</a></li>
          <li class="breadcrumb-item active" ><span th:text="${addStatus==true?'Add New Sample':'Update Sample Details'}" ></span ></li>
        </ol>
      </nav>
    </div>
  </div>
  <!--End of Breadcrumb-->

  <div class="row" >
    <div class="col" >
      <h2 class="text-info text-center" >
        <strong >
          <span th:text="${addStatus==true?'Add New Sample':'Update Sample Details'}" ></span >
        </strong >
      </h2 >
    </div >
  </div >
</div >
<!--Form Content-->
<div class="container-fluid bg-light formBorder" >
  <div class="col-sm-12 flex-column " >
    <form id="form" class="form-horizontal"
          th:action="${addStatus==true?'/sampleReceiving/save':'/sampleReceiving/update'}"
          th:object="${sampleReceiving}" method="POST" >

      <div class="row" >
        <!--Left Side-->
        <div class="container ml-5 mr-5 pl-5 pr-5" >
          <!--Customer -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" id="customerLabel" >Customer :</label >
            </div >
            <div class="col-md-7" >
              <select id="customer" th:field="*{customer}" class="form-control" tabindex="1" required >
                <option value="" >Please select</option >
                <option th:each="customer : ${customers}"
                        th:text="${customer.name}"
                        th:value="${customer.id}" ></option >
              </select >
            </div >
            <div class="col-md-1" >
              <a data-th-href="${'/customer/add'}" >
                <button type="button" class="btn btn-outline-success"  >New
                </button >
              </a >
            </div >
          </div >
          <div id="idStatus" class="form-row text-right" >

            <div class="col-md-4" >
              <label class="control-label" for="code" >Batch Number :</label >
            </div >
            <div class="col-md-7" >
              <input id="code" th:field="*{batchNo}" class="form-control" type="text" tabindex="2"/>
            </div >
          </div >
          <!--compound -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="compound" >Compound :</label >
            </div >
            <div class="col-md-7" >
              <select id="compound" th:field="*{compound}" class="form-control" tabindex="3" required >
                <option value="" >Please select</option >
                <option th:each="compound : ${compounds}"
                        th:text="${compound.name}"
                        th:value="${compound.id}" ></option >
              </select >
            </div >
          </div >
          <!--Price-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="price" >Price :</label >
            </div >
            <div class="col-md-7" >
              <input id="price" class="form-control" type="text" readonly />
            </div >
          </div >
          <!--DiscountRatio -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="discount" >Discount (%) :</label >
            </div >
            <div class="col-md-7" >
              <select id="discount" th:field="*{discountRatio}" class="form-control" tabindex="4" required >
                <option value="" >Please select</option >
                <option th:each="discountRatio : ${discountRatios}"
                        th:text="${discountRatio.amount}"
                        th:value="${discountRatio.id}" ></option >
              </select >
            </div >
          </div >
          <!--Amount-->
          <div class="form-row text-right" >

            <div class="col-md-4" >
              <label class="control-label" for="price" >Amount :</label >
            </div >
            <div class="col-md-7" >
              <input id="amount" class="form-control" type="text" th:field="*{amount}" readonly />
            </div >
          </div >
          <!--Created by and created at-->
          <div id="updateStatus" th:if="${addStatus==false}" >
            <!--Created By-->
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" for="createdBy" >Created By :</label >
              </div >
              <div class="col-md-8" >
                <input id="createdBy" th:field="*{createdBy}" class="form-control" type="text"
                       readonly />
              </div >
            </div >
            <!--Created At-->
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" for="createdAt" >Created At :</label >
              </div >
              <div class="col-md-8" >
                <input id="createdAt" th:field="*{createdAt}" class="form-control" type="text"
                       readonly />
              </div >
            </div >
          </div >
        </div >
      </div >
      <!--Button-->
      <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
        <button class="btn btn-success ml-5" type="submit" tabindex="8" >
          <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp;&nbsp;<span id="submit"
                                                                                 th:text="${addStatus==true?'Save': 'Update'}" ></span >
        </button >

        <button class="btn btn-danger" type="reset" tabindex="21" >
          <i class="fa fa-redo " style="font-size: 20px" ></i >&nbsp; &nbsp;
          <span id="reset" th:text="Reset" ></span >
        </button >
        <a class="btn btn-secondary" type="button" href="/sampleReceiving">
          <i class="fas fa-times"></i> &nbsp;<span id="cancel" >Cancel</span >
        </a >
      </div >
      <!--Error-->
      <div class="form-row" >
        <label id="errorLabel" th:if="${#fields.hasErrors('*')}" th:text="'Errors: '" >Errors: </label >
        <ul >
          <li id="error" th:each="err: ${#fields.errors('*')}" th:text="${err}" class="error" ></li >
        </ul >
      </div >
    </form >
  </div >
</div >
<!--footer include-->
<div th:replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div th:replace="~{fragments/script :: scriptFragment}" ></div >
<script >

    let compoundPriceURI = "[[${compoundPriceURI}]]";

    $("#compound").bind("change", function () {
        let finalUrl = compoundPriceURI + $(this).val();
        $.ajax({
            type: 'GET',
            url: finalUrl,
            success: function (resp) {
                priceSet(resp);
            },
            error: function (err) {
                console.log(err);
            }
        });
    });

    $("#discount").bind("change", function () {
        let compoundValue = $("#compound").val();
        if (compoundValue !== '') {
            let price = $("#price").val();
            let discount = parseInt($(`#discount option:selected`).text());
            $(`#amount`).val(price - (price * discount / 100));
        } else {
            swal({
                title: "Re-check",
                icon: "warning",
                text: "Need to select compound before select the discount.",
            });
        }
    })

    function priceSet(compound) {
        $("#price").val(compound.price);
        $("#discount").val("");
        $("#amount").val(0.00);
    }
</script >

</body >
</html >
