<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>sampleReceiving</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid  form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a href="/home" id="btnHome" class="btn btn-outline-info">
                &nbsp;Back To Home&nbsp;
            </a>
        </div>

        <div class="col">
            <a href="/sample/acceptability" id="btnSampleAccept" class="btn btn-facebook">
                &nbspSample Accept&nbsp;
            </a>
        </div>

        <div class="col">
            <a class="btn btn-info" href="/sampleReceiving/add"><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>

    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Sample Management
                </strong>
            </h4>
        </div>
    </div>
</div>

<!--Customers List-->
<div class="container-fluid  text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="sampleReceivingListPresent" th:if="${not #lists.isEmpty(sampleReceivings)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Batch No</th>
                    <th> Status</th>
                    <th> Compound</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sampleReceiving, rowCount : ${sampleReceivings}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${sampleReceiving.batchNo}"></th>
                    <th th:text="${sampleReceiving.sampleReceivingStatus.sampleReceivingStatus}"></th>
                    <th th:text="${sampleReceiving.compound.name}"></th>
                    <th>
                        <a id="sampleReceivingView" th:href="${'/sampleReceiving/' + sampleReceiving.id}" class="btn btn-outline-secondary btn-sm">View</a>

                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" th:if="${ #lists.isEmpty(sampleReceivings)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no sampleReceiving upto now please add sampleReceiving to the system
                        using "New" button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
    <!--Save sampleReceiving-->
    <div class="row" th:if="${sampleReceivingDetail != null}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!--save sampleReceiving include-->
                <div th:replace="~{sampleReceiving/sampleReceiving-detail :: sampleReceivingDetailsFragment}"></div>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
