<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>sampleReceiving</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sample</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center formManagement border-info">

        <div class="col">
            <a href="/sample/acceptability" id="btnSampleAccept" class="btn btn-facebook">
                &nbspSample Accept&nbsp;
            </a>
        </div>

        <div class="col">
            <a class="btn btn-info" href="/sampleReceiving/add"><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>

    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Sample Management
                </strong>
            </h4>
        </div>
    </div>
</div>

<!--Customers List-->
<div class="container-fluid  text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="sampleReceivingListPresent" data-th-if="${not #lists.isEmpty(sampleReceivings)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Batch No</th>
                    <th> Sample Status</th>
                    <th> Compound</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="sampleReceiving, rowCount : ${sampleReceivings}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${sampleReceiving.batchNo}"></th>
                    <th data-th-text="${sampleReceiving.sampleReceivingStatus.sampleReceivingStatus}"></th>
                    <th data-th-text="${sampleReceiving.compound.name}"></th>
                    <th>
                        <a id="sampleReceivingView" data-th-href="${addStatus==true?'/payment/add/'+ sampleReceiving.id:'/sampleReceiving/' + sampleReceiving.id}" class="btn btn-outline-secondary btn-sm">
                            <span data-th-text="${addStatus==true?'Pay':'View'}"></span>
                        </a>

                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" data-th-if="${ #lists.isEmpty(sampleReceivings)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="text-center text-danger">
                    No records upto now. Please add record to the system using add button.
                </h6>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
    <!--Save sampleReceiving-->
    <div class="row" data-th-if="${sampleReceivingDetail != null}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!--save sampleReceiving include-->
                <div data-th-replace="~{sampleReceiving/sampleReceiving-detail :: sampleReceivingDetailsFragment}"></div>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
