<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/employee">Employee</a></li>
                    <li class="breadcrumb-item active">View Employee</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    <p data-th-text="${employeeDetail.title.title} +${' '} +${employeeDetail.name}"></p>
                </strong>
            </h4>
        </div>
    </div>
</div>
<!--details-->
<div data-th-fragment="employeeDetailsFragment" class="container-fluid formBorder">
    <div class="col-sm-12 flex-column text-dark">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <th>Employee Id</th>
                        <td><p id="employeeCode" data-th-text="${employeeDetail.code}" class="display_detail"></p></td>
                        <td></td>
                        <th>Address</th>
                        <td><p id="address" class="display_detail " data-th-utext="${employeeDetail.address}"></p></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><p id="name" data-th-text="${employeeDetail.title.title} +${' '} +${employeeDetail.name}"
                               class="display_detail"></p></td>
                        <td></td>
                        <th>Mobile 1</th>
                        <td><p id="mobileOne" data-th-text="${employeeDetail.mobileOne}" class="display_detail"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Calling Name</th>
                        <td><p id="callingName" data-th-text="${employeeDetail.callingName}" class="display_detail"></p>
                        </td>
                        <td></td>
                        <th>Mobile 2</th>
                        <td><p id="mobileTwo" data-th-text="${employeeDetail.mobileTwo}" class="display_detail"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>NIC</th>
                        <td><p id="nic" data-th-text="${employeeDetail.nic}" class="display_detail"></p></td>
                        <td></td>
                        <th>Telephone</th>
                        <td><p id="land" data-th-text="${employeeDetail.land}" class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td><p id="gender" data-th-text="${employeeDetail.gender.gender}" class="display_detail"></p>
                        </td>
                        <td></td>
                        <th>Office Email</th>
                        <td><p id="officeEmail" data-th-text="${employeeDetail.officeEmail}" class="display_detail"></p>
                        </td>
                    </tr>
                    <tr>
                        <th>Birth Date</th>
                        <td><p id="dateOfBirth" data-th-text="${employeeDetail.dateOfBirth}" class="display_detail">
                            Error
                            Birthday</p></td>
                        <td></td>
                        <th>Civil Status</th>
                        <td><p id="civilStatus" data-th-text="${employeeDetail.civilStatus.civilStatus}"
                               class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Designation</th>
                        <td><p id="designation" data-th-text="${employeeDetail.designation.designation}"
                               class="display_detail"></p></td>
                        <td></td>
                        <th>Employee Status</th>
                        <td><p id="employeeStatus" data-th-text="${employeeDetail.employeeStatus.employeeStatus}"
                               class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Assigned date</th>
                        <td><p id="dateOfAssignment" data-th-text="${{employeeDetail.dateOfAssignment}}"
                               class="display_detail"></p></td>
                        <td></td>
                        <th></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <th>Created By</th>
                        <td><p id="createdBy" data-th-text="${employeeDetail.createdBy}" class="display_detail"></p>
                        </td>
                        <td></td>
                        <th>Created At</th>
                        <td><p id="createdAt"
                               data-th-text="${#temporals.format(employeeDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                               class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Updated By</th>
                        <td><p id="updatedBy" data-th-text="${employeeDetail.updatedBy}" class="display_detail"></p>
                        </td>
                        <td></td>
                        <th>Updated At</th>
                        <td><p id="updatedAt" data-th-text="${{employeeDetail.updatedAt}}" class="display_detail"></p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
        <div class="row">

            <!--images-->
            <div class="form-group col-md-12 col-sm-12  flex-column ">
                <div class="col" id="photoDetails">
                    <div>
                        <label class="control-label ">Photo Details : </label>
                    </div>
                    <div class="row">
                        <div class="col" id="filesList" data-th-each="file, rowStat: ${files}">
                            <div class="col">
                                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                    <div class="card text-center">
                                        <div class="card-body">
                                            <img id="img" class="rounded"
                                                 style="height: 150px; widdata-th- 150px; border-radius: 10px"
                                                 alt="Employee images" data-th-src="${file.url}"/>
                                        </div>
                                        <div class="card-footer bg-secondary text-light text-center">
                                            <p id="imgName" data-th-text="${file.filename}"></p>
                                            <span> Uploaded Date :
                                            <p id="imgCreateAt" data-th-text="${{file.createAt}}"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
        <a href="/employee">
            <button class="btn btn-secondary" type="button" tabindex="10">
                <i class="fa fa-arrow-circle-left " style="font-size: 20px"></i>&nbsp; &nbsp;Back
            </button>
        </a>
    </div>
    <br/>
</div>

<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
