<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid  form-Border">
    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Employee</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Employee Management
                </strong>
            </h4>
        </div>
    </div>
</div>
<div class="container-fluid formBorder text-center">

    <div class="col">
        <div class="col" id="employeeListPresent" th:if="${not #lists.isEmpty(employees)}">
            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-info" href="/employee/add" data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_HR')">
                        <i class="fa fa-plus"></i>
                        Add New Employee</a>
                </div>
            </div>
            <br>

            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Image</th>
                    <th> Employee Id</th>
                    <th> Name</th>
                    <th> Designation</th>
                    <th> Mobile</th>
                    <th> Status</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="employee, rowCount : ${employees}">
                    <th th:text="${rowCount.count}"></th>
                    <th>
                        <div class="image" data-th-if="${employee.fileInfo !=null}">
                            <img id="img" class="rounded"
                                 style="height:50px; width:50px;border-radius: 1px"
                                 alt="Employee images"
                                 data-th-src="${employee.fileInfo.url}"/>
                        </div>
                    </th>
                    <th th:text="${employee.code}"></th>
                    <th th:text="${employee.callingName}"></th>
                    <th th:text="${employee.designation.designation}"></th>
                    <th th:text="${employee.mobileOne}"></th>
                    <th th:text="${employee.employeeStatus.employeeStatus}"></th>
                    <th>
                        <a id="employeeView" th:href="${'/employee/' + employee.id}" class="btn btn-secondary btn-sm"
                           data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_HR', 'ROLE_SQA', 'ROLE_QA','ROLE_TM', 'ROLE_LA','ROLE_CA')">
                            <i class="fa fa-list-alt"></i></a>
                        <a id="employeeEdit" th:href="${'/employee/edit/' + employee.id}" class="btn btn-primary btn-sm"
                           data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_HR')">
                            <i class="fa fa-edit"></i></a>
                        <a th:id="${'/employee/remove/' + employee.id}"
                           class="btn btn-danger btn-sm"
                           data-sec-authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_HR')"
                           onclick="confirmDelete(this)">
                            <i class="fa fa-trash-alt"></i></a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(employees)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="text-center text-danger">
                    No records upto now. Please add record to the system using add button.
                </h6>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
