.bg-success {
    background-color: #8deac9 !important
}

.bg-danger {
    background-color: #f5c6c2 !important
}

/*navbar*/
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #000000;
}
