<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-success" href="/mixer/add"><i class="fa fa-user-plus"></i>
                &nbsp; New Mixer</a>
        </div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Mixer Management
                </strong>
            </h4>
        </div>
        <div class="col">
            <!--<a href="/mixer/workingPlace" id="searchShow" class="btn btn-primary">
                &nbsp;Add&nbsp;
                <i class="fas fa-store-alt" style="font-size: 20px"></i>
                &nbsp;
            </a>-->
        </div>
    </div>
</div>
<div class="container-fluid bg-dark formBorder text-center">
    <div class="col">
        <div class="col" id="mixerListPresent" th:if="${not #lists.isEmpty(mixers)}">
            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Mixer</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="mixer, rowCount : ${mixers}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${mixer.name}"></th>

                    <th>
                        <a id="mixerEdit" th:href="${'/mixer/edit/' + mixer.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i>&nbsp;Edit</a>
                        <a id="mixerRemove" th:href="${'/mixer/remove/' + mixer.id}"
                           th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>
                            Delete</a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(mixers)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no mixer upto now please add mixer to the system
                        using add user button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
