<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid">
    <div class="main-section">
        <br>
        <div class="col-12">
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Employees</div>
                                            <a href="/employee">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Employees</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Customers</div>
                                            <a href="/customer">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Customers</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-tie fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Samples</div>
                                            <a href="/sampleReceiving">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Sample Details</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-file-alt fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Compounds</div>
                                            <a href="/compound">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Compound Details</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-vial fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body ">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Laboratory Test</div>
                                            <a href="/labTestResultEnter/form">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Test Details</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-vials fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="card border-left-primary shadow">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h5 mb-0 font-weight-bold text-gray-800">Payments</div>
                                            <a href="/payment">
                                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Manage Payment Details</div>
                                            </a>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--To day petition list-->
                <div class="col-5 bg-light formBorder">
                    <!--Petition Lists -->
                    <div class="container-fluid text-center" id="petitionListPresent">
                        <table class="table table-hover table-striped" id="myTable">
                            <thead>
                            <tr>
                                <th> Processing</th>
                                <th> Approved</th>
                                <th> Rejected</th>
                                <th> State</th>
                                <th> Modify</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="petitionList">
                                <th id="petitionNumber"></th>
                                <th id="petitionPriority"></th>
                                <th id="workingPlace"></th>
                                <th id="petitionState"></th>
                                <th>
                                    <a id="petitionView" class="btn btn-success btn-sm"><i
                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row" id="petitionListNotPresent">
                        <div class="col-sm-12">
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <p class="text-center text-danger">
                                    <strong>There is no Test Details upto know please add data to the system
                                            using add button.
                                    </strong>
                                </p>
                            </div>
                        </div>
                        <script>
                            $(".alert").alert();
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>

