<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>customer</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customer</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Customer Management
                </strong>
            </h4>
        </div>
    </div>
    <div class="row " th:if="${ #lists.isEmpty(customers)}">
        <div class="col">
            <a class="btn btn-info" href="/customer/add"><i class="fa fa-plus"></i>
                &nbsp;Add New Customer</a>
        </div>
    </div>
    <br>
</div>

<!--Customers List-->
<div class="container-fluid formBorder text-center">
    <!--Table view-->
    <div class="col">
        <div class="col" id="customerListPresent" th:if="${not #lists.isEmpty(customers)}">

            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-info" href="/customer/add"><i class="fa fa-plus"></i>
                        &nbsp;Add New Customer</a>
                </div>
            </div>
            <br>

            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Name</th>
                    <th> Code</th>
                    <th> Mobile</th>
                    <th> Address</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="customer, rowCount : ${customers}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${customer.title.title}+${customer.name}"></th>
                    <th th:text="${customer.code}"></th>
                    <th th:text="${customer.mobile}"></th>
                    <th th:text="${customer.address}"></th>
                    <th>
                        <a id="customerView" th:href="${'/customer/' + customer.id}" class="btn btn-secondary btn-sm"><i class="fa fa-list-alt"></i></a>
                        <a id="customerEdit" th:href="${'/customer/edit/' + customer.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit" style="font-size: 15px"></i></a>
                        <a id="customerRemove" th:href="${'/customer/delete/' + customer.id}" class="btn btn-danger btn-sm"><i class="fa fa-trash-alt" style="font-size: 15px"></i></a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" th:if="${ #lists.isEmpty(customers)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="text-center text-danger">
                    No records upto now. Please add record to the system using add button.
                </h6>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
    <!--Save customer-->
    <div class="row" th:if="${customerDetail != null}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!--save customer include-->
                <div th:replace="~{customer/customer-detail :: customerDetailsFragment}"></div>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
