<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>customer-detail</title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<!--heading Area-->
<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/customer">Customer</a></li>
                    <li class="breadcrumb-item active">View Customer</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center">
        <!--Customer Name-->
        <div class="col">
            <h2 class="text-info text-center">
                <strong>
                    <p th:text="${customerDetail.title.title} +${' '} +${customerDetail.name}"></p>
                </strong>
            </h2>
        </div>
    </div>
</div>
<!--details-->
<div th:fragment="customerDetailsFragment" class="container-fluid  formBorder">
    <div class="col-sm-12 flex-column text-dark">
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <tr>
                        <th>ID</th>
                        <td><p id="id" th:text="${customerDetail.id}" class="display_detail"></p></td>
                        <td></td>
                        <th>Email</th>
                        <td><p id="email" th:text="${customerDetail.email}" class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Customer Code</th>
                        <td><p id="departmentIdNumber" th:text="${customerDetail.code}" class="display_detail"></p></td>
                        <td></td>
                        <th>Created By</th>
                        <td><p id="createdBy" th:text="${customerDetail.createdBy}" class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td> <p id="name" th:text="${customerDetail.title.title} +${' '} +${customerDetail.name}"
                                class="display_detail"></p></td>
                        <td></td>
                        <th>Created At</th>
                        <td> <p id="createdAt" th:text="${#temporals.format(customerDetail.createdAt, 'dd-MM-yyyy HH:mm')}"
                                class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>NIC</th>
                        <td> <p id="nic" th:text="${customerDetail.nic}" class="display_detail"></p></td>
                        <td></td>
                        <th>Updated By</th>
                        <td> <p id="updatedBy" th:text="${customerDetail.updatedBy}" class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td><p id="address" class="display_detail " th:utext="${customerDetail.address}"></p></td>
                        <td></td>
                        <th>Updated At</th>
                        <td> <p id="updatedAt" th:text="${{customerDetail.updatedAt}}" class="display_detail"></p></td>
                    </tr>
                    <tr>
                        <th>Mobile</th>
                        <td><p id="mobile" th:text="${customerDetail.mobile}" class="display_detail"></p></td>
                        <td></td>
                        <th></th>
                        <td> </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<!--Back Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column ">
    <a href="/customer">
        <button class="btn btn-secondary" type="button" tabindex="3">
            <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
        </button>
    </a>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
