<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--<nav th:replace="~{fragments/sideBar :: sideBarFragment}"></nav>-->

<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Payment</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center formManagement border-info">

        <div class="col">
            <a class="btn btn-info" href="/payment/needToPay" th:if="${ #lists.isEmpty(payments)}"><i class="fa fa-plus"></i>
                &nbsp;Add New</a>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Payment Management
                </strong>
            </h4>
        </div>
    </div>
</div>

<div class="container-fluid formBorder text-center" data-th-fragment="paymentFragment">
    <div class="col">
        <div class="col" id="paymentList" th:if="${not #lists.isEmpty(payments)}">
            <div class="row text-right">
                <div class="col">
                    <a class="btn btn-info" href="/payment/needToPay" >
                        <i class="fa fa-plus"></i>
                        Add New Payment</a>
                </div>
            </div>
            <br>

            <table class="table table-hover table-striped" id="myTable">
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Sample Code</th>
                    <th> Batch</th>
                    <th> Compound</th>
                    <th> Amount</th>
                    <th> Date</th>
                    <th> Sample Status</th>
                    <th data-th-if="${status}"> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payment, rowCount : ${payments}">
                    <th th:text="${rowCount.count}"></th>
                    <th th:text="${payment.sampleReceiving.sampleCode}"></th>
                    <th th:text="${payment.sampleReceiving.batchNo}"></th>
                    <th th:text="${payment.sampleReceiving.compound.name}"></th>
                    <th th:text="${payment.amount}"></th>
                    <th th:text="${payment.paymentDate}"></th>
                    <th th:text="${payment.sampleReceiving.sampleReceivingStatus}"></th>
                    <th data-th-if="${status}">
                        <a id="paymentView" th:href="${'/payment/' + payment.id}" class="btn btn-secondary btn-sm"><i class="fa fa-list-alt"></i></a>
                        <a id="paymentEdit" th:href="${'/payment/edit/' + payment.id}" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></a>
                        <a id="paymentRemove" th:href="${'/payment/delete/' + payment.id}"
                           data-sec-authorize="hasAnyAuthority('ROLE_CA')"
                           class="btn btn-danger btn-sm"><i class="fa fa-trash-alt"></i></a>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" th:if="${ #lists.isEmpty(payments)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="text-center text-danger">
                    <strong data-th-if="${status}">No records upto now. Please add record to the system using add button.
                    </strong>
                    <strong>There is no payment record up to now.
                    </strong>
                </h6>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script th:replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
