<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--<nav th:replace="~{fragments/sideBar :: sideBarFragment}"></nav>-->


<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active"><a href="/payment">Payment</a></li>
                    <li class="breadcrumb-item active">View Payment</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div>
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    <p data-th-text="${paymentDetails.number} "></p>
                </strong>
            </h4>
        </div>
    </div>

    <!--Customer details-->
    <div class="container">
        <div class="row">
            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                    aria-controls="collapseExample">Sample Details
            </button>
        </div>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <div th:replace="~{sampleReceiving/sampleReceiving-detail :: sampleReceivingDetailsFragment}"></div>
            </div>
        </div>
    </div>

    <!--details-->
    <div data-th-fragment="paymentsFragment" class="container-fluid  formBorder">
        <div class="col-sm-12 flex-column text-dark">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-xl-6">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                            <tr>
                                <th>ID</th>
                                <td><p id="id" data-th-text="${paymentDetails.id}" class="display_detail"></p></td>
                            </tr>
                            <tr>
                                <th>Payment Number</th>
                                <td><p id="number" data-th-text="${paymentDetails.number}" class="display_detail"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Amount</th>
                                <td><p id="amount" data-th-text="${{paymentDetails.amount}}" class="display_detail"></p>
                                </td>
                            </tr>
                            <tr>
                                <th>Payment Date</th>
                                <td><p id="paymentDate" data-th-text="${{paymentDetails.paymentDate}}"
                                       class="display_detail"></p></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>
        </div>
    </div>



    <!--Back Button-->
    <div class="form-group col-md-12 col-sm-12 text-center flex-column ">
        <a href="/payment">
            <button class="btn btn-secondary" type="button" tabindex="3">
                <i class="fas fa-arrow-circle-left" style="font-size: 20px"></i>&nbsp; &nbsp;Back
            </button>
        </a>
    </div>
    <!--footer include-->
    <footer th:replace="~{fragments/footer :: footerFragment}"></footer>
    <!--script include-->
    <script th:replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>
