<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="container-fluid bg-secondary form-Border">
    <div class="row text-center formManagement border-info">
        <div class="col">
            <a class="btn btn-primary" href="/home">
                <i class="fa fa-home" style="font-size: 20px"></i> &nbsp; Home
            </a>
        </div>
        <div class="col">
            <h4 class="text-light text-center">
                <strong>
                    <span th:text="${addStatus==true?'New Lab Test Add':'Update Lab Test Details'}"></span>
                </strong>
            </h4>
        </div>
        <div class="col">
            <a href="/labTestParameter" class="btn btn-primary">
                <i class="fa fa-list"></i>&nbsp; View List
            </a>
        </div>
    </div>
</div>

<div class="wrapper"><!-- wrapper start -->

    <div class="content-wrapper"><!-- content-wrapper Start -->

        <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="card-body" >
                                            <form  data-th-action="${addStatus==false?'/labTest/save' :'/labTest/update'}"
                                                  method="post" data-th-object="${labTest}"
                                                  class="mt-3">
                                                <div class="offset-3 col-6">
                                                    <!--/* id this comment not visualize */-->
                                                    <!--Id-->
                                                    <div class="form-group row" data-th-if="${addStatus==true}">
                                                        <label for="id" class="col-sm-4 col-form-label "> Id </label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" data-th-field="*{id}"
                                                                   id="id" readonly>
                                                        </div>
                                                    </div>

                                                    <!--Interview name-->
                                                    <div class="form-group row">
                                                        <label data-th-for="${'name'}" class="col-sm-4 col-form-label ">
                                                            Lab Test Name </label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control" data-th-field="*{name}"
                                                                   required>
                                                            <p class="text-danger" data-th-if="${#fields.hasErrors('name')}"
                                                               data-th-errors="*{name}">Error Name</p>
                                                        </div>
                                                    </div>


                                                    <div class="form-group row">
                                                        <label data-th-for="${'labTestStatus'}" class="col-sm-4 col-form-label ">
                                                            Lab Test Parameters </label>
                                                        <div class="col-sm-8">
                                                            <select class="form-control" data-th-field="*{labTestParameters}" required multiple row="6">
                                                                <option data-th-each="labTestParameter : ${labTestParameters}"
                                                                        data-th-text="${labTestParameter.name}"
                                                                        data-th-value="${labTestParameter.id}">
                                                                </option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row">
                                                        <div class="offset-sm-2 col-sm-10">
                                                            <button type="submit" class="btn btn-primary">
                                                                <i data-th-class="${addStatus==false?'fa fa-save mr-1':'fa fa-thumbs-up mr-1'}"></i>
                                                                <span
                                                                        data-th-text="${addStatus==false?'Save' : 'Update'}"></span>
                                                            </button>
                                                        </div>
                                                    </div>

                                                </div>

                                            </form>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div></div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/script :: scriptFragment}"></script><!-- script Fragment -->
</body>
</html>
