<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<nav th:replace="~{fragments/navBar :: navBarFragment}"></nav>
<div class="wrapper"><!-- wrapper start -->
    <!--<nav th:replace="~{fragments/navbarSection :: navbarSectionFragment}"></nav>&lt;!&ndash; navbar Section &ndash;&gt;
    <aside th:replace="~{fragments/sidebarSection :: sidebarSectionFragment}"></aside>--><!-- navbar Section -->
    <div class="content-wrapper"><!-- content-wrapper Start -->
        <!--<section th:replace="~{fragments/contentHeader :: contentHeaderSectionFragment}"></section>
        &lt;!&ndash; Form Header  Path &ndash;&gt;
        <section th:replace="~{fragments/smallBoxSection :: smallBoxSectionFragment}"></section>-->
        <!-- Small Box Set -->


        <div class="content-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>First sud Header</h4>
                                        <form role="form">


                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card">
                                    <div class="card-body">
                                        <h4>Secondary Header </h4>
                                        <!--if not empty list-->
                                        <div class="container-fluid" id="labTestListTable"
                                             data-th-if="${not #lists.isEmpty(labTests)}">
                                            <table class="table table-hover table-striped" id="myTable">
                                                <thead class="thead-inverse">
                                                <tr>
                                                    <th>S No</th>
                                                    <th> Name</th>
                                                    <th>Interview Status</th>
                                                    <th>Interview Parameter</th>

                                                    <th>Modify</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-th-each="labTest, rowCount : ${labTests}" scope="row">
                                                    <th data-th-text="${rowCount.count}"></th>
                                                    <th data-th-text="${labTest.name}"></th>
                                                    <th>
                                                        <ol>
                                                            <li data-th-each="labTestParameter : ${labTest.labTestParameters}"
                                                                data-th-text="${labTestParameter.name}"></li>
                                                        </ol>
                                                    </th>


                                                    <th><a class="btn btn-success btn-sm"
                                                           data-th-href="${'/labTest/' + labTest.id}"
                                                           id="labTestView"><i
                                                            class="fa fa-folder-open"></i>&nbsp;View</a>
                                                        <a class="btn btn-primary btn-sm" id="labTestEdit"
                                                           data-th-href="${'/labTest/edit/' + labTest.id}"><i
                                                                class="fa fa-edit"></i>&nbsp;Edit</a>
                                                    </th>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--if empty list-->
                                        <div class="row" id="labTestNotList" data-th-if="${ #lists.isEmpty(labTests)}">
                                            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h3 class="text-center text-danger">
                                                    <strong>There is no labTest upto know please add labTest to the
                                                        system
                                                        using add labTest button.
                                                    </strong>
                                                </h3>
                                            </div>
                                        </div>
                                        <!--Show saved labTest-->
                                        <div class="row" data-th-if="${labTestDetail!=null}">
                                            <div class="col-sm-12">
                                                <div class="alert alert-success alert-dismissible fade show"
                                                     role="alert">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <div class="container">
                                                        <div data-th-replace="~{labTest/labTest-detail :: labTestDetail}"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script>
                                                /*active boostrap alert - start*/
                                                $(".alert").alert();
                                                /*active boostrap alert - end*/
                                            </script>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div><!-- content-wrapper end -->
<footer th:replace="~{fragments/footer :: footerFragment}"></footer><!-- footer Section -->
</div><!-- wrapper end -->
<script th:replace="~{fragments/script :: scriptFragment}"></script><!-- script Fragment -->
</body>
</html>
