<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>sampleReceiving</title>
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--heading Area-->
<div class="container-fluid  form-Border">
    <div class="row text-left formManagement border-info">
        <div class="col">
            <a href="/home" id="searchShow" class="btn btn-outline-info" tabindex="2">&nbsp;&nbsp;Back To Home
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-info text-center">
                <strong>
                    Laboratory Test
                </strong>
            </h2>
        </div>
    </div>
</div>
<!--todo Customer details sampleReceivingLabTest.sampleReceiving.customer.name-->
<!--data enter form-->
<div class="container">
    <form class="form-horizontal" method="POST" th:action="${'/labTestResultEnter/save'}"
          data-th-object="${sampleReceivingLabTest}">
        <div class="form-group col-md-12 col-sm-12 text-left flex-column">
            <div class="container">
                <input class="form-control" data-th-field="*{id}" id="id" type="text" hidden/>

                <h3> Enter Result : </h3>
                <div class="form-row">
                    <div class="col-3">
                        Specification Name
                    </div>
                    <div class="col-3">
                        Result
                    </div>
                    <div class="col-3">
                        Min
                    </div>
                    <div class="col-3">
                        Max
                    </div>
                    
                </div>
                <div class="form-row text-right"
                     data-th-each="sampleReceivingLabTestResults, index : ${sampleReceivingLabTestResultses}">
                    <div class="col-3">
                        <input type="text"class="form-control"
                               data-th-value="${sampleReceivingLabTestResults.specification.specificationName}"
                               readonly>
                        <input type="number" class="form-control"
                               data-th-field="*{sampleReceivingLabTestResults[__${index.index}__].id}"

                               hidden>
                        <input type="number" class="form-control"
                               data-th-value="${sampleReceivingLabTestResults.sampleReceivingLabTest.id}"
                               data-th-name="${'sampleReceivingLabTestResults[__${index.index}__].sampleReceivingLabTest.id'}"

                               hidden>
                        <input type="number" class="form-control"
                               data-th-value="${sampleReceivingLabTestResults.specification.id}"
                               data-th-name="${'sampleReceivingLabTestResults[__${index.index}__].specification.id'}"

                               hidden>
                    </div>
                    <div class="col-3">
                        <input type="number" step="0.5" class="form-control"
                               data-th-field="*{sampleReceivingLabTestResults[__${index.index}__].result}" required>
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text"
                               data-th-value="${sampleReceivingLabTestResults.specification.min}" readonly/>
                    </div>
                    <div class="col-3">
                        <input class="form-control" type="text"
                               data-th-value="${sampleReceivingLabTestResults.specification.max}" readonly/>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-12 col-sm-12 text-center flex-column">
            <button class="btn btn-success" type="submit">
                <i class="fa fa-save" style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    id="submit" th:text="${addStatus==true?'Save': 'Update'}">                        </span>
            </button>
        </div>
    </form>
</div>
</body>
</html>
