<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
</head>
<body>
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>
<!--Display all the accepted lab test-->
<div class="container-fluid  form-Border">

    <!--Breadcrumb-->
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Laboratory Test</li>
                </ol>
            </nav>
        </div>
    </div>
    <!--End of Breadcrumb-->

    <div class="row text-center">
        <div class="col">
            <h4 class="text-info text-center">
                <strong>
                    Laboratory Test
                </strong>
            </h4>
        </div>
    </div>
</div>

<!--Enter results-->
<br>
<div class="container-fluid  text-center" data-th-if="${not showList}">
    <div class="container">
        <h4>Enter Results</h4>
        <div class="form-row">
            <div class="col-4" data-th-each="labTestName : ${labTestNames}">
                <a data-th-href="${'/labTestResultEnter/form/'+labTestName}">
                    <button class="btn btn-primary" type="button" data-th-text="${labTestName.labTestName}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--View Entered results-->
<br>
<div class="container-fluid  text-center" data-th-if="${not showList}">
    <div class="container">
        <h4>View/Print Results</h4>
        <div class="form-row">
            <div class="col-4" data-th-each="labTestName : ${labTestNames}">
                <a data-th-href="${'/labTestResultEnter/form/'+labTestName}+'/view'">
                    <button class="btn btn-primary" type="button" data-th-text="${labTestName.labTestName}"></button>
                </a>
            </div>
        </div>
    </div>
</div>
<br>

<!--labTest  List-->
<div class="container-fluid bg-light text-center" data-th-if="${showList}">
    <!--Table view-->
    <div class="col">
        <div class="col" id="sampleReceivingListPresent" data-th-if="${not #lists.isEmpty(sampleReceivingLabTests)}">
            <table class="table table-hover table-striped" >
                <thead>
                <tr>
                    <th> Index</th>
                    <th> Batch Number</th>
                    <th> Compound Name</th>
                    <th> Compound Code</th>
                    <th> Customer Name</th>
                    <th> Receiving Date</th>
                    <th> Modify</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="sampleReceivingLabTest, rowCount : ${sampleReceivingLabTests}">
                    <th data-th-text="${rowCount.count}"></th>
                    <th data-th-text="${sampleReceivingLabTest.sampleReceiving.batchNo}"></th>
                    <th data-th-text="${sampleReceivingLabTest.sampleReceiving.compound.name}"></th>
                    <th data-th-text="${sampleReceivingLabTest.sampleReceiving.compound.code}"></th>
                    <th data-th-text="${sampleReceivingLabTest.sampleReceiving.customer.name}"></th>
                    <th data-th-text="${{sampleReceivingLabTest.sampleReceiving.createdAt}}"></th> <th>
                    <!--todo: security config-->
                    <a data-th-href="${'/labTestResultEnter/form/edit/' + sampleReceivingLabTest.id}"
                       class="btn btn-outline-primary btn-sm"><i class="fa fa-edit"></i></a>
                    <a data-th-href="${'/labTestResultEnter/form/add/' + sampleReceivingLabTest.id}"
                       class="btn btn-primary btn-sm">Result Enter</a>
                </th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--Error-->
    <div class="row" data-th-if="${ #lists.isEmpty(sampleReceivingLabTests)}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 class="text-center text-danger">
                    <strong>There is no sampleReceiving upto now please add sampleReceiving to the system
                        using "New" button.
                    </strong>
                </h3>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
    <!--Save sampleReceiving-->
    <div class="row" data-th-if="${sampleReceivingDetail != null}">
        <div class="col-sm-12">
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <!--save sampleReceiving include-->
                <div data-th-replace="~{sampleReceiving/sampleReceiving-detail :: sampleReceivingDetailsFragment}"></div>
            </div>
        </div>
        <script>
            /*active boostrap alert - start*/
            $(".alert").alert();
            /*active boostrap alert - end*/
        </script>
    </div>
</div>
<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>
